:root{
  --text-color: #000;
  --background-color: #fff;
}

[data-theme="dark"]{
  --text-color: #fff;
  --background-color: #000;
}

body{
  color: var(--text-color);
  background-color: var(--background-color);
  margin-bottom: 25px;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-menu{
  display: flex;
  justify-content: center;

}

.navigation-liste{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-decoration: none;  
}
.dark-mode{
  border-radius: 15px;
  margin-left: 15px;
  

}

.question-mark{
  background-color: white;
  margin: 8px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  border: 1px solid black;
  color: blue;
}

.info-box{
  position: absolute;
  margin-left: 150px;
  margin-top: -16px;
  font-size: 12px;
  background-color:#ffffec;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  color: black;

}


.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.form{
  height: 700px;
  width: 500px;
  
}

.form-label{
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  
}

.form-select{
  width: 100%;
  padding: 5px;
  margin: 5px 0px ;
}

.checkbox-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-label-info{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  
}

.rewrite{
  margin: 10px;
  border-radius: 15px;
  padding: 15px;
  font-weight: bold;

}

.reformulated-email-container{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reforumlated-email-box{
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 70%;
  height: 200px;
  box-sizing: border-box;
  margin-bottom: 20px;
  overflow-y: auto;
}